@mixin button_link {
    width: 3.7rem;
    height: 3.5rem;
    background-color: $white;
    border-radius: 50%;
    margin-top: 1rem;
}

@mixin scroll_arrow {
    height: 100%;
    @include displayFlex (column, center, center);
}

@mixin button_white_style {
    width: 16rem;
    height: 4.5rem;
    color: $brightOrange;
    font: $roboto_medium_20;
    line-height: 4.5rem;
    border: 2px solid $brightOrange;
    background-color: $white;
    border-radius: 4rem;
    padding: 1rem 1.14rem;
    @include displayFlex (column, center, center);
    margin-top: 1.1rem;
}

@mixin button_orange_style {
    height: 4.5rem;
    color: $brightOrange;
    font: $roboto_medium_20;
    color: $white;
    border-color: $brightOrange;
    background-color: $brightOrange;
    border-radius: 4rem;
    border-width: 0;
    padding: 1rem 2.5rem;
    @include displayFlex (column, center, center);
    margin-top: 2.7rem;
}