<section class="section-1">
    <div class="section-1--container">
        <h1 class="section-1--container--title">
            Hasta un 50% de descuento
        </h1>
        <p class="section-1--container--description">
            Ya están aquí las ofertas de fin de temporada
        </p>
        <a class="section-1--container--link" href="#">
            <img class="section-1--container--link--scrolldown" src="./assets/images/ico-scroll-down.svg" alt="scroll down button">
        </a>
    </div>
</section>