<section class="section-1">
        <h1 class="section-1--title">
            Hasta un 50% de descuento
        </h1>
        <p class="section-1--description">
            Ya están aquí las ofertas de fin de temporada
        </p>
        <div class="section-1--button">
            <a class="section-1--button--link" href="#">
                <img class="section-1--button--link--scrolldown" src="./assets/images/ico-scroll-down.svg" alt="scroll down button">
            </a>
        </div>
        
</section>