<section class="section-3">
    <h2 class="section-3--title">
        Año nuevo, movimientos nuevos
    </h2>
    <div class="section-3--container">
        <!-- Article 1 -->
        <article class="section-3--container--article">
            <h3 class="section-3--container--title">
                Entrenamientos
            </h3>
            <p class="section-3--container--paragraph">
                Sesiones de running y entrenamientos.
            </p>
        </article>

        <!-- Article 2 -->
        <article class="section-3--container--article">
            <h3 class="section-3--container--title">
                Cualquier nivel
            </h3>
            <p class="section-3--container--paragraph">
                Entrenamientos para cada nivel.
            </p>
        </article>

        <!-- Article 3 -->
        <article class="section-3--container--article">
            <h3 class="section-3--container--title">
                Exclusividad
            </h3>
            <p class="section-3--container--paragraph">
                Productos para miembros premium.
            </p>
        </article>
    </div>
    <button class="section-3--button">
        Empezar ahora
    </button>
    <a class="section-3--button--link" href="#">
        <img class="section-3--button--link--arrow" src="./assets/images/ico-arrow.svg" alt="arrow">
    </a>
</section>