@mixin displayFlex($direction, $justifyContent, $alignItems) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin displayGrid($columns, $gap) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    column-gap: $gap;
}