@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  background: none;
  border: none; }

html {
  scroll-behavior: smooth; }

@keyframes animation-1 {
  from {
    transform: translateY(-10px); }
  to {
    transform: translateY(5px); } }

.header {
  background-color: #f26002;
  width: 37px;
  height: 34px;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.section-1 {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/cover.jpeg);
  background-position: 40.7%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: #ffffff;
  text-align: center; }
  @media (min-width: 768px) {
    .section-1 {
      background-position: 21.7%;
      padding-bottom: 45px; } }
  @media (min-width: 1200px) {
    .section-1 {
      padding: 49px; } }
  .section-1--title {
    font: 700 30px "Roboto Slab", serif;
    text-transform: uppercase;
    line-height: 50px; }
    @media (min-width: 768px) {
      .section-1--title {
        font: 700 75px "Roboto Slab", serif;
        line-height: 100px; } }
    @media (min-width: 1200px) {
      .section-1--title {
        font: 700 100px "Roboto Slab", serif;
        line-height: 132px;
        max-width: 954px; } }
  .section-1--description {
    font: 400 16px "Roboto", sans-serif;
    line-height: 19px; }
    @media (min-width: 768px) {
      .section-1--description {
        font: 400 24px "Roboto", sans-serif;
        line-height: 28px;
        max-width: 340px; } }
    @media (min-width: 1200px) {
      .section-1--description {
        min-width: -moz-fit-content;
        min-width: fit-content; } }
  .section-1--button {
    width: 37px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 37px; }
    @media (min-width: 768px) {
      .section-1--button {
        width: 42.5px;
        height: 45px;
        margin-bottom: 0; } }
    @media (min-width: 1200px) {
      .section-1--button {
        width: 46.2px;
        height: 45.9px;
        margin-top: 33.4px; } }
    .section-1--button--link {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }

.section-2 {
  padding: 34px 18px 51px 18px; }
  @media (min-width: 768px) {
    .section-2 {
      padding: 37px 37px 51px 37px; } }
  @media (min-width: 1200px) {
    .section-2 {
      padding: 58px 136px 67px 275px; } }
  .section-2--small-paragraph {
    color: #f26002;
    font: 400 14px "Roboto", sans-serif;
    line-height: 30px; }
    @media (min-width: 768px) {
      .section-2--small-paragraph {
        font: 400 16px "Roboto", sans-serif;
        line-height: 30px; } }
  .section-2--title {
    color: #000000;
    font: 700 24px "Roboto Slab", serif;
    line-height: 30px; }
    @media (min-width: 768px) {
      .section-2--title {
        font: 700 32px "Roboto Slab", serif;
        line-height: 45px; } }
  .section-2--description {
    color: #4a4a4a;
    font: 400 18px "Roboto", sans-serif;
    line-height: 30px;
    margin-top: 12px; }
    @media (min-width: 768px) {
      .section-2--description {
        font: 400 20px "Roboto", sans-serif;
        line-height: 30px; } }
    @media (min-width: 1200px) {
      .section-2--description {
        margin-top: 7px; } }
  .section-2--button {
    width: 160px;
    height: 45px;
    color: #f26002;
    font: 500 20px "Roboto", sans-serif;
    line-height: 45px;
    border: 2px solid #f26002;
    background-color: #ffffff;
    border-radius: 40px;
    padding: 10px 11.4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 11px; }
    @media (min-width: 768px) {
      .section-2--button {
        margin-top: 21px; } }
    @media (min-width: 1200px) {
      .section-2--button {
        transition: 0.5s;
        margin-top: 25px; }
        .section-2--button:hover {
          background-color: #f26002;
          color: #ffffff;
          cursor: pointer;
          transform: scale(1.1); } }

.section-3 {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-align: center;
  padding-top: 29px; }
  @media (min-width: 768px) {
    .section-3 {
      padding: 49px;
      padding-bottom: 0; } }
  @media (min-width: 1200px) {
    .section-3 {
      padding-top: 48px; } }
  .section-3--title {
    font: 700 20px "Roboto Slab", serif;
    line-height: 30px;
    margin: 0 15px 0 15px; }
    @media (min-width: 768px) {
      .section-3--title {
        font: 700 28px "Roboto Slab", serif;
        line-height: 45px; } }
    @media (min-width: 1200px) {
      .section-3--title {
        font: 700 32px "Roboto Slab", serif;
        line-height: 45px; } }
  @media (min-width: 768px) {
    .section-3--container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      -moz-column-gap: 27.7px;
      column-gap: 27.7px; } }
  .section-3--container--article {
    margin: 41px 72px 0 72px; }
    @media (min-width: 768px) {
      .section-3--container--article {
        margin: 38px 0 0 0; } }
    @media (min-width: 1200px) {
      .section-3--container--article {
        margin-top: 51px; } }
  .section-3--container--title {
    font: 700 18px "Roboto Slab", serif;
    line-height: 30px; }
    @media (min-width: 768px) {
      .section-3--container--title {
        font: 700 24px "Roboto Slab", serif;
        line-height: 30px; } }
    @media (min-width: 1200px) {
      .section-3--container--title {
        font: 700 24px "Roboto Slab", serif; } }
  .section-3--container--paragraph {
    font: 400 18px "Roboto", sans-serif;
    line-height: 30px; }
    @media (min-width: 768px) {
      .section-3--container--paragraph {
        font: 400 20px "Roboto", sans-serif;
        line-height: 30px;
        margin-top: 18px; } }
    @media (min-width: 1200px) {
      .section-3--container--paragraph {
        margin-top: 32px; } }
  .section-3--button {
    height: 45px;
    color: #f26002;
    font: 500 20px "Roboto", sans-serif;
    color: #ffffff;
    border-color: #f26002;
    background-color: #f26002;
    border-radius: 40px;
    border-width: 0;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 27px; }
    @media (min-width: 768px) {
      .section-3--button {
        margin-top: 38px; } }
    @media (min-width: 1200px) {
      .section-3--button {
        transition: 0.5s; }
        .section-3--button:hover {
          background-color: #ffffff;
          border: 2px solid #f26002;
          color: #f26002;
          cursor: pointer;
          transform: scale(1.1); } }
  .section-3--button--link {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: 10px;
    margin-top: 27px;
    transform: translate(0, 44%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    animation: animation-1 0.4s linear 3s infinite alternate; }
    @media (min-width: 768px) {
      .section-3--button--link {
        width: 45px;
        height: 45px;
        margin-top: 34px; } }
    @media (min-width: 1200px) {
      .section-3--button--link {
        margin-top: 41px; } }
    .section-3--button--link--link {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }

.footer {
  background-color: #4a4a4a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 65px 0 36px 0;
  row-gap: 30px;
  text-align: center;
  color: #ffffff;
  font: 400 16px "Roboto", sans-serif; }
  @media (min-width: 768px) {
    .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      -moz-column-gap: 30px;
      column-gap: 30px;
      padding: 56px 159px 36px 159px;
      text-align: left; } }
  @media (min-width: 1200px) {
    .footer {
      padding: 52px 370px 40px; } }
  .footer--nav {
    text-transform: uppercase;
    line-height: 30px; }
    @media (min-width: 768px) {
      .footer--nav {
        display: flex;
        order: 2; } }
    .footer--nav--list--link--menu {
      color: #ffffff; }
  .footer--social-media {
    text-transform: uppercase;
    line-height: 30px; }
    @media (min-width: 768px) {
      .footer--social-media {
        display: flex;
        order: 3; } }
    .footer--social-media--list--link--profile {
      color: #ffffff; }
  .footer--copyright {
    font: 400 14px "Roboto", sans-serif;
    line-height: 30px; }
    @media (min-width: 768px) {
      .footer--copyright {
        display: flex;
        flex-direction: column;
        order: 1; } }
    .footer--copyright--orange-heart {
      color: #f26002; }

/*# sourceMappingURL=main.css.map */
