.footer {
    background-color: $greyishBrown;
    @include displayFlex (column, center, center);
    padding: 6.5rem 0 3.6rem 0;
    row-gap: 3rem;
    text-align: center;
    color: $white;
    font: $roboto_regular_16;
    @include tablet() {
        @include displayFlex (row, space-around, flex-start);
        column-gap: 3rem;
        padding: 5.6rem 15.9rem 3.6rem 15.9rem;
        text-align: left;
    }
    @include desktop() {
        padding: 5.2rem 37rem 4rem;
    }
    &--nav {
        text-transform: uppercase;
        line-height: 3rem;
        @include tablet() {
            display: flex;
            order: 2;
        }
        &--list {
            &--link {
                &--menu {
                    color: $white;
                }
            }
        }
    }
    &--social-media {
            text-transform: uppercase;
            line-height: 3rem;
    @include tablet() {
            display: flex;
            order: 3;
    }
        &--list {
            &--link {
                &--profile {
                    color: $white;
                }
            }
        }
    }
    &--copyright {
        font: $roboto_regular_14;
        line-height: 3rem;
        @include tablet() {
                display: flex;
                flex-direction: column;;
                order: 1;
        }
        &--orange-heart {
            color: $brightOrange;
        }
    }
}