.footer {
    background-color: $greyishBrown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 65px 0 36px 0;
    row-gap: 30px;
    text-align: center;
    color: $white;
    font: $roboto_regular_16;
    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        text-align: left;
    }
        @media (min-width: 1200px) {
            padding: 52px 370px 40px;
        }
    &--nav {
        text-transform: uppercase;
        line-height: 30px;
        @media (min-width: 768px) {
            display: flex;
            order: 2;
        }
    }
    &--social-media {
            text-transform: uppercase;
            line-height: 30px;
        @media (min-width: 768px) {
                display: flex;
                order: 3;
        }
    }
    &--copyright {
        font: $roboto_regular_14;
        line-height: 30px;
        @media (min-width: 768px) {
                display: flex;
                flex-direction: column;;
                order: 1;
        }
        &--orange-heart {
            color: $brightOrange;
        }
    }
}