.section-2 {
    padding: 3.4rem 1.8rem 5.1rem 1.8rem;
    @include tablet() {
        padding: 3.7rem 3.7rem 5.1rem 3.7rem;
    }
    @include desktop() {
        padding: 5.8rem 13.6rem 6.7rem 27.5rem;
    }
    &--small-paragraph {
        color: $brightOrange;
        font: $roboto_regular_14;
        line-height: 3rem;
    @include tablet() {
            font: $roboto_regular_16;
            line-height: 3rem;
    }
    }
    &--title {
        color: $black;
        font: $robotoSlab_bold_24;
        line-height: 3rem;
    @include tablet() {
        font: $robotoSlab_bold_32;
        line-height: 4.5rem;
    }
    }
    &--description {
        color: $greyishBrown;
        font: $roboto_regular_18;
        line-height: 3rem;
        margin-top: 1.2rem;
    @include tablet() {
        font: $roboto_regular_20;
        line-height: 3rem;
    }
    @include desktop() {
        margin-top: 0.7rem;
    }
    }
    &--button {
        @include button_white_style;
    @include tablet() {
        margin-top: 2.1rem;
    }
    @include desktop() {
        transition: 0.5s;
        margin-top: 2.5rem;
        &:hover {
            background-color: $brightOrange;
            color: $white;
            cursor: pointer;
            transform: scale(1.1);
        }
    }
    }
}