.section-1 {
    width: 100vw;
    height: 100vh;
    translate: 0 -10%;
    background-image: url(../images/cover.jpeg);
    background-position: 40.7%;
    background-size: 320%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: $white;
    text-align: center;
    padding-bottom: 37.8px;
    @media (min-width: 768px) {
        background-position: 21.7%;
        background-size: 186%;
        padding-bottom: 45px;
    }
    @media (min-width: 1200px) {
        background-position: 50% 123%;
        background-size: 143%;
    }
    &--title {
        font: $robotoSlab_bold_30;
        text-transform: uppercase;
        line-height: 50px;
        @media (min-width: 768px) {
            font: $robotoSlab_bold_75;
            line-height: 100px;
            }
        @media (min-width: 1200px) {
            font: $robotoSlab_bold_100;
            line-height: 132px;
        }
    }
    &--description {
        font: $roboto_regular_16;
        line-height: 19px;
        @media (min-width: 768px) {
            font: $roboto_regular_24;
            line-height: 28px;
        }
    }
    &--button {
        @include button_link;
        @media (min-width: 768px) {
            width: 42.5px;
            height: 45px;
        }
        @media (min-width: 1200px) {
            width: 46.2px;
            height: 45.9px;
            margin: 33.4px 0 30px 0;
        }
        &--link {
            @include scroll_arrow;
        }
    }
}