.section-1 {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/cover.jpeg);
    background-position: 40.7%;
    background-size: cover;
    background-repeat: no-repeat;
    @include displayFlex (column, end, center);
    color: $white;
    text-align: center;
    @include tablet() {
        background-position: 21.7%;
        padding-bottom: 45px;
    }
    @include desktop() {
        padding: 49px;
    }
    &--title {
        font: $robotoSlab_bold_30;
        text-transform: uppercase;
        line-height: 50px;
    @include tablet() {
        font: $robotoSlab_bold_75;
        line-height: 100px;
    }
    @include desktop() {
        font: $robotoSlab_bold_100;
        line-height: 132px;
        max-width: 954px;
    }
    }
    &--description {
        font: $roboto_regular_16;
        line-height: 19px;
    @include tablet() {
        font: $roboto_regular_24;
        line-height: 28px;
        max-width: 340px;
    }
    @include desktop() {
        min-width: fit-content;
    }
    }
    &--button {
        @include button_link;
            margin-bottom: 37px;
    @include tablet() {
        width: 42.5px;
        height: 45px;
        margin-bottom: 0;
    }
    @include desktop() {
        width: 46.2px;
        height: 45.9px;
        margin-top: 33.4px;
    }
        &--link {
            @include scroll_arrow;
        }
    }
}