.section-1 {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/cover.jpeg);
    background-position: 40.7%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: $white;
    text-align: center;
    @media (min-width: 768px) {
        background-position: 21.7%;
        padding-bottom: 45px;
    }
    &--title {
        font: $robotoSlab_bold_30;
        text-transform: uppercase;
        line-height: 50px;
        @media (min-width: 768px) {
            font: $robotoSlab_bold_75;
            line-height: 100px;
            }
            @media (min-width: 1200px) {
                font: $robotoSlab_bold_100;
                line-height: 132px;
                max-width: 954px;
            }
    }
    &--description {
        font: $roboto_regular_16;
        line-height: 19px;
        @media (min-width: 768px) {
            font: $roboto_regular_24;
            line-height: 28px;
            max-width: 340px;
        }
        @media (min-width: 1200px) {
            min-width: fit-content;
        }
    }
    &--button {
        @include button_link;
            margin-bottom: 37px;
        @media (min-width: 768px) {
            width: 42.5px;
            height: 45px;
        }
            @media (min-width: 1200px) {
                width: 46.2px;
                height: 45.9px;
                margin: 33.4px 0 30px 0;
            }
        &--link {
            @include scroll_arrow;
        }
    }
}